
    <div class="container" ng-controller="login">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">LOGIN FORM</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                    <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Email" ng-model="login.username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password"required>
                    <button class="btn btn-mg btn-primary btn-block" type="submit" ng-click="loginsubmit()">
                        Sign in</button>
                    
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="#registration" class="text-center new-account">Create an account </a>
            </div>
        </div>
    </div>


